$main-color: #fba867;
/* dark */

$bg-dark: #222222;
$secondary-bg-dark: #282828;
$primary-text-dark: #ffffff;
$secondary-text-dark: #999999;

$table-color: #4d4d4d;

/* light */

$bg-light: #ffffff;
$secondary-bg-light: #f9f9fa;
$primary-text-light: #000000;
$secondary-text-light: #999999;
