@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");
/* dark */
/* light */
body {
  margin: 0;
  height: 100vh;
  background-color: #999999;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.main-container {
  position: relative;
  width: 70%;
  padding: 4.56em;
  margin: 0 auto;
  height: auto;
  background-color: #222222;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info {
  position: relative;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info .logo img {
  width: 9em;
}

.info .self-info h1 {
  color: #fba867;
  font-size: 1.36rem;
  text-transform: uppercase;
  font-weight: 500;
}

.info .self-info .account-details {
  color: #999999;
  line-height: 1.18em;
  margin-top: 2.18em;
}

.info .self-info .account-details h3 {
  font-size: 1.13rem;
  margin: 0;
  font-weight: 500;
}

.info .self-info .account-details p {
  margin: 0;
  font-weight: 300;
  word-wrap: break-word;
}

.quotation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quotation .client-info {
  padding: 2.18em;
}

.quotation .client-info .head {
  margin-bottom: 6.25em;
}

.quotation .client-info .head h1 {
  color: #ffffff;
  font-weight: 400;
}

.quotation .client-info .head p {
  padding-top: 1.01em;
  color: #999999;
}

.quotation .client-info .head p span {
  font-weight: 300;
}

.quotation .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.quotation .address .from-to {
  line-height: 1.58em;
  width: 50%;
}

.quotation .address .from-to h2 {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 0.9em;
}

.quotation .address .from-to h3 {
  font-weight: 500;
}

.quotation .address .from-to p {
  word-break: break-all;
  font-weight: 300;
}

.quotation table {
  width: 100%;
  color: #ffffff;
  border: 2px solid #4d4d4d;
  border-radius: 1em;
  border-collapse: collapse;
  text-align: center;
}

.quotation th,
.quotation td {
  padding: 0.5em 1em;
}

.quotation th:nth-child(2),
.quotation td:nth-child(2) {
  border-left: 2px solid #4d4d4d;
}

.quotation th:nth-child(1),
.quotation td:nth-child(1) {
  text-align: left;
}

.quotation tr {
  border: 2px solid #4d4d4d;
}

.quotation th {
  font-size: 1.36rem;
}

.quotation tr td {
  font-size: 1.13rem;
  font-weight: 300;
}

.quotation tr td h4,
.quotation tr td h5 {
  font-weight: 500;
}

.calculations {
  position: relative;
  color: #ffffff;
}

.calculations #with-color {
  border: 1.5px solid #4d4d4d;
  border-radius: 1em;
  background-color: #282828;
}

.calculations .calculation-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3em 0 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 70%;
}

.calculations .total-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: inherit;
}

.calculations .total-wrapper .total {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculations .total-wrapper .total p {
  line-height: 1.3em;
  padding: 2em;
  font-size: 1.13rem;
  font-weight: 400;
}

.calculations button {
  font-weight: 700;
  color: #fba867;
  border: 3px solid #fba867;
  padding: 1em 2em;
  margin: 0 3em;
  background: none;
  border-radius: 2em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 70%;
  padding: 4.56em;
  margin: 0 auto;
  height: auto;
  background-color: #282828;
  border-top: 1px solid #4d4d4d;
  color: #ffffff;
  line-height: 3em;
}

.footer h2 {
  font-size: 1.7rem;
  font-weight: 400;
}

.footer p {
  color: #999999;
  font-weight: 300;
  font-size: 1.13rem;
}

.footer p span {
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */